.header__email {
    margin: 0 24px 0 0;
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
    color: white;
}

@media screen and (max-width: 420px) {
    .header__email {
        display: none;
    }
}