@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__data/header__data.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__card/profile__card.css);
@import url(./blocks/profile/__addbutton/profile__addbutton.css);
@import url(./blocks/profile/__avatar-edit-button/profile__avatar-edit-button.css);
@import url(./blocks/profile/__avatar-foto/profile__avatar-foto.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__discription/profile__discription.css);
@import url(./blocks/profile/__edit-button/edit-button.css);
@import url(./blocks/photo-grid/photo-grid.css);
@import url(./blocks/photo-grid/__list/photo-grid__list.css);
@import url(./blocks/photo-grid/__item/photo-grid__item.css);
@import url(./blocks/photo-grid/__item-fotocard/photo-grid__item-fotocard.css);
@import url(./blocks/photo-grid/__foto-discription/photo-grid__foto-discription.css);
@import url(./blocks/photo-grid/__place-name/photo-grid__place-name.css);
@import url(./blocks/photo-grid/__likes-container/photo-grid__likes-container.css);
@import url(./blocks/photo-grid/__heart/photo-grid__heart.css);
@import url(./blocks/photo-grid/__heart/_liked/photo-grid__heart_liked.css);
@import url(./blocks/photo-grid/__like-counter/photo-grid__like-counter.css);
@import url(./blocks/photo-grid/__trash-bin/photo-grid__trash-bin.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_image-zoom/popup_image-zoom.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__window/popup__window.css);
@import url(./blocks/popup/__zoom-window/popup__zoom-window.css);
@import url(./blocks/popup/__big-foto/popup__big-foto.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title-avatar/popup__title-avatar.css);
@import url(./blocks/popup/__place-name/popup__place-name.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_state/popup__input_state_invalid.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__save-button/_invalid/popup__save-button_invalid.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__close-button/_zoom/popup__close-button_zoom.css);
@import url(./blocks/error/error.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__submit/login__submit.css);
@import url(./blocks/login/__link/login__link.css);


@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-info/popup__image-info.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);